body{
    background: #E2E8DD;
    font-family: 'Akaya Telivigala', cursive;
}
#camera{
    border: 2px black;
    width: 350px;
    height: 300px;

}
.heading
{
    width: 80%;
    font-size: 20px;
}